
{% extends "EmailTemplate.twig" %}

{% block content %}

<h1>Sales Alert!</h1>
<div>Date: {{ "now"|date("Y/m/d") }}</div>
<br/>
<div>You have {{ products|length }} item(s) with lower prices</div>
<br />
<br />
{% for product in products %}
    {{ include('EmailProductListItem.twig') }}
{% endfor %}
{% endblock %}